body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.m-tp{
    margin-top: 80px;
}
.m-top{
    margin-top: 130px;
}
.m-bottom{
    margin-bottom: 130px;
}
.m-btm{
    margin-bottom: 80px;
}

.carousel-item::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.6;
    border-radius: 5px;
}
.f-size{
    font-size: 60px;
}
